{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Authors</th>
                <td>{{ book.authors ? book.authors|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Isbn13</th>
                <td>{{ book.isbn13 }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ book.stock }}</td>
            </tr>
            <tr>
                <th>CoverUrl</th>
                <td>{{ book.coverUrl }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ book.publishedAt ? book.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home_index') }}">back to list</a>

    <a href="{{ path('app_home_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
